/* site specific styles */

.callout-card {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  overflow: hidden; }
  .callout-card .card-label {
    border-color: transparent #333 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #333333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.primary {
    border-color: #446cb3; }
    .callout-card.primary .card-label {
      border-color: transparent #446cb3 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #446cb3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.secondary {
    border-color: #adb2bd; }
    .callout-card.secondary .card-label {
      border-color: transparent #adb2bd transparent transparent;
      border-color: rgba(255, 255, 255, 0) #adb2bd rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.info {
    border-color: #89c4f4; }
    .callout-card.info .card-label {
      border-color: transparent #89c4f4 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.alert {
    border-color: #f22613; }
    .callout-card.alert .card-label {
      border-color: transparent #f22613 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #f22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.success {
    border-color: #87d37c; }
    .callout-card.success .card-label {
      border-color: transparent #87d37c transparent transparent;
      border-color: rgba(255, 255, 255, 0) #87d37c rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.warning {
    border-color: #f89406; }
    .callout-card.warning .card-label {
      border-color: transparent #f89406 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #f89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card .card-label {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    transform: rotate(360deg); }
  .callout-card .callout-card-content {
    padding: 0.5rem 1.5rem 0.875rem; }
  .callout-card.radius {
    border-radius: 0.6rem; }
  .callout-card .label-text {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -35px;
    top: 0px;
    white-space: nowrap;
    transform: rotate(30deg); }

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px; }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear; }
.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }
.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 30%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }
.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }
.overlay-fade-in:hover img {
  transform: scale(1.2); }
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }
.overlay-fade-in:hover p {
  transition-delay: 0.1s; }
.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }

input[type="text"].unstyleInputs, textarea.unstyleInputs{
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* link color #007878 lighter #22A9A9*/
a{
  color: #007878;
}

a:hover, a:focus{
  color: #22A9A9;
}

.container{
  position: relative;
  min-height: 100%;
}


.icon-bar{
  background: rgb(229,245,243);
}
.icon-bar li{
  display: block;
  padding: 0px;
}
.icon-bar > * label{
  color: #333;
  font-size: 24px;
}
.icon-bar  li:hover {
  background: rgb(81,185,173);
}
.icon-bar li:hover label {
  color: #FFFFFF;
}
.icon-bar li:hover i {
  color: #FFFFFF;
}

.icon-bar > a:hover {
background: rgb(81,185,173); }

.icon-bar > a:hover label {
color: #FFFFFF; }

.icon-bar > a:hover i {
color: #FFFFFF; }

.icon-bar > a.active {
background: rgb(81,185,173); }

.icon-bar > a.active label {
color: black; }

.icon-bar > a.active i {
color: black; }

.panel{
  border-style: none; 
  border-width: none;
  border-color: none; 

  background: inherit;

}
.icon-bar .item{
  height: 70px;
  padding: 15px 10px 10px 10px;
}
.image-overlay-content a{
  font-weight: bold;
  color: #007878;
}
.largeLogo{
  max-width: 500px;
  margin: 0px;
}
.metria{
  font-family: geometria_lightlight;
}

.mainColor{
  color: #007878;
  text-align: right;
}
@media(max-width: 1024px){
  .mainColor{
    text-align: left;
  }
}

body{
  font-family: 'Roboto', sans-serif;
}

.cntctfrm_contact_form input[type="text"]{
  border-style: none none solid none;
}


.cntctfrm_contact_form input[type="submit"]{
  display: block;
  width: 130px;
  margin: 0px auto;
  border: none;
  padding: 10px;
  font-family: 'geometria_lightlight';
  font-size: 130%;
  background: #AAA;
}

.cntctfrm_contact_form input[type="submit"]:hover{
  background: #007878;
  color: white;
}

.cntctfrm_contact_form label{
  font-size: 120%;
}


.prefooter{
  height: 40px;
}
.footer{
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  background-color: #555;
  font-size: 50%;
  box-sizing: border-box;
  padding: 10px;
}

